/Aplicacao_WS_Calculadora_01/nbproject/private/
/Aplicacao_WS_Calculadora_01/build/
/Aplicacao_WS_Calculadora/nbproject/private/
/Aplicacao_WS_Calculadora/build/
/Aplicacao_WS_CalculadoraJSP/nbproject/private/
/Aplicacao_WS_CalculadoraJSP/build/